.header-top {
    text-align: center;
    color: gray;
    text-shadow: 2px 2px red;
    transition: font-size 2s;
}

.header-top:hover {
    font-size: 100px;
}

.card {
    width: 18rem;
    border-width: 10px;
    border-color: gray;
    transition: border-color 1s, width 1s;
<<<<<<< HEAD
=======
    padding: 10px;
>>>>>>> df9d5944ab63cad22130f713eee757d4b77593aa
    background-color: red;
}

.card:hover {
<<<<<<< HEAD
    border-color: red;
=======
    border-color: orange;
>>>>>>> df9d5944ab63cad22130f713eee757d4b77593aa
    width: 19rem;
}

body {
    background-color: black;
}

